@model BusBookingSystem.Models.Feedback
<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="holidaymaker Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Views/Home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Busbooklayout/css/font-awesome.css" rel="stylesheet">
    <link href="~/Busbooklayout/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //pop-ups-->
    <!-- team-->
    <link href="~/Busbooklayout/css/ihover.css" rel="stylesheet" type="text/css" media="all" /><!-- //team -->
    <link rel="stylesheet" href="~/Busbooklayout/css/swipebox.css">
    <link href="~/Busbooklayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- //fonts -->
</head>
<body>
    <!-- banner -->
    <div class="banner-figures">
        <div class="banner">
            <div class="container banner-drop">
                <div class="header">
                    <div class="header-left logo">
                        <h1><a href="index.html">Bus BOOKING System</a></h1>
                    </div>
                    <div class="header-right">
                        <nav>
                            <ul>
                                <li class="active">
                                    <a href="Index.html" class="active"><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="#about" class="scroll"><span>About</span></a>
                                </li>
                                <li>
                                    <a href="#team" class="scroll"><span>Team</span></a>
                                </li>
                                <li>
                                    <a href="#services" class="scroll"><span>Services</span></a>
                                </li>
                                <li>
                                    <a href="#gallery" class="scroll"><span>Gallery</span></a>
                                </li>
                                <li>
                                    <a href="Contact.cshtml" class="scroll"><span>Contact</span></a>
                                </li>
                            </ul>
                        </nav>
                        <div class="menu-icon animated wow zoomIn" data-wow-duration="1000ms" data-wow-delay="800ms"><span></span></div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="banner-text-agileits">
                    <h3>Enjoy Your Trip</h3>
                    <p>Get the comfort trips With our buses</p>
                </div>

                <div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <ul class="top-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!--about-->
   
    <!-- contact -->
    <div class="jarallax contact" id="contact">
        <div class="container">
            <h3 class="tittle">Get in touch</h3>
            <p class="head-p-w3ls">Gave us your feedback</p>
            <div class="col-md-5 contact-agileits-w3layouts">
                <form action="#" method="post">
                    <p>Name*: </p>
                    <p>@Html.TextBoxFor(m => m.name)</p>
                    @Html.ValidationMessageFor(B => B.name)

                    <p>Email*: </p>
                    <p>@Html.TextBoxFor(m => m.EMail)</p>
                    @Html.ValidationMessageFor(B => B.EMail)

                    <p>Message*: </p>
                    <p>@Html.TextAreaFor(m => m.text, new { cols = "25", rows = "15" })</p>

                    @Html.ValidationMessageFor(B => B.text)
                    <p>Type of your message </p>
                    <p>@Html.TextBoxFor(m => m.Subject)</p>
                    @Html.ValidationMessageFor(B => B.Subject)
                    <input type="submit" value="Submit">
                    <span style="color:darkblue">@ViewBag.Message</span>
                </form>
                <h5 class="sub">Looking for Address</h5>
                <p><span>Location</span> : Maadi,Cairo,Egypt.</p>
                <p><span>Phone</span> : +33 892 35 35 35</p>
                <p><span>Email</span><a href="busbookinga@gmail.com"> : BusBookinga@gmail.com</a></p>
            </div>

        </div>
    </div>
    <!-- //about -->
    <div class="footer">
        <div class="container">
            <h3><a href="index.html">Bus BOOKING System</a></h3>
            <p>© 2020 BusBookingSystem. All rights reserved </a></p>
            <div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
                <ul class="top-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script>
        (function ($) {
            $(".menu-icon").on("click", function () {
                $(this).toggleClass("open");
                $(".container").toggleClass("nav-open");
                $("nav ul li").toggleClass("animate");
            });

        })(jQuery);
    </script>
    <!-- swipe box js -->
    <script src="js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- //swipe box js -->
    <!-- jarallax-js -->
    <script src="js/jarallax.js"></script>
    <script src="js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax-js -->
    <!--pop-up-box -->
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //pop-up-box -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
</body>
</html>