@model BusBookingSystem.ViewModels.BusDriver
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bus Details</h2>






<div class="dl-horizontal">
    <h4>Bus</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model=> model.Bus.image)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(modelItem=>modelItem.Bus.image)"
                 class="thumbnail"
                 style="width:500px; height:500px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus.MLicensePlateNo)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => modelItem.Bus.MLicensePlateNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bus.Did)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => modelItem.Bus.Did)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bus.MBusCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => modelItem.Bus.MBusCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bus.MBusType)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => modelItem.Bus.MBusType)
        </dd>




    </dl>
</div>
<p>
    <a @Html.ActionLink("Edit", "Edit", new { id = Model.Bus.id })> <i class="glyphicon   glyphicon-edit"></i></a> ||

    <a @Html.ActionLink("Delete", "Delete", new { id = Model.Bus.id }, new { onclick = "return confirm('Are you sure you want to delete this?')" })><i class="glyphicon   glyphicon-trash"></i></a>
</p>