@model BusBookingSystem.ViewModels.BusDriver
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bus</h2>
<p>
    <a @Html.ActionLink("Create New", "New")><i class="glyphicon glyphicon-new-window"></i>     </a>
</p>
@using (Html.BeginForm("SearchBus", "Bus", FormMethod.Get))
{
    @Html.TextBox("MLicensePlateNo")
    <input type="submit" value="search" />
}






<div class="container-fluid" style="width:60% ; margin-top:2%">
    <table class="table table-responsive">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bus.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus.MLicensePlateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus.Did)
            </th>

        </tr>

        @foreach (var item in Model.Buses)
        {
    <tr>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.image)"
                 class="thumbnail"
                 style="width:100px; height:100px;" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MLicensePlateNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Did)
        </td>


        <td>


            <a @Html.ActionLink("Edit", "Edit", new { id = item.id })> <i class="glyphicon   glyphicon-edit"></i></a> ||
            <a @Html.ActionLink("Details", "Details", new { id = item.id })> <i class="glyphicon glyphicon-list"></i> </a> ||
            <a @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { onclick = "return confirm('Are you sure you want to delete this?')" })><i class="glyphicon   glyphicon-trash"></i></a>


        </td>
    </tr>
        }

    </table>
</div>