@model BusBookingSystem.ViewModels.TripBus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trip Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trip.tripStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.tripStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.tripDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.tripDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.licensePlateNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.licensePlateNo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Trip.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
