@model IEnumerable<BusBookingSystem.Models.Trip>

@{
    ViewBag.Title = "Maintain Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trips</h2>

<p>
    @Html.ActionLink("Create New", "Add")
    <br />
    @using (Html.BeginForm("Index", "Trip", FormMethod.Get))
    {
        <b>Search</b> @Html.RadioButton("searchBy", "Start") <text>Start</text>
        @Html.RadioButton("searchBy", "Destination") <text>Destination</text>
        @Html.RadioButton("searchBy", "Price") <text>Price</text>
        @Html.RadioButton("searchBy", "Time") <text>Time</text>
        @Html.RadioButton("searchBy", "Date") <text>Date</text><br />
        @Html.TextBox("search") <input type="submit" value="search" class="btn btn-default"/>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tripStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tripDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tripStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tripDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
